{{#author}}
    <div class='author-credit'>
        <figure class="author-image">
            <a class="img" href="{{url}}">
                {{#if profile_image}}
                    <img src="{{profile_image}}" alt="{{name}}'s picture" class="avatar rounded" />
                {{else}}
                    <img src="/ghost/img/user-image.png" class="avatar rounded" />
                {{/if}}
            </a>
        </figure>

        <div class="author-info">
            <h4><a href="{{url}}" class='author-name'>{{name}}</a></h4>
            {{#if bio}}
                <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
                {{#if twitter}}<a href="{{twitter_url}}">{{twitter}}</a>{{/if}}
            </div>
        </div>
    </div>
{{/author}}
