<ul class="share-buttons">
    <li class="hvr-grow-rotate">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{encode @blog.url}}{{encode url}}&t={{encode title}}" target="_blank" title="Share on Facebook">
            <i class="fa fa-facebook-square"></i>
        </a>
    </li>
    <li class="hvr-grow-rotate">
        <a href="https://twitter.com/intent/tweet?source={{encode @blog.url}}{{encode url}}&text={{encode title}}:{{encode @blog.url}}{{url}}" target="_blank" title="Tweet">
            <i class="fa fa-twitter-square"></i>
        </a>
    </li>
    <li class="hvr-grow-rotate">
        <a href="https://plus.google.com/share?url={{encode @blog.url}}{{encode url}}" target="_blank" title="Share on Google+">
            <i class="fa fa-google-plus-square"></i>
        </a>
    </li>
    <li class="hvr-grow-rotate">
        <a href="http://www.reddit.com/submit?url={{encode @blog.url}}{{encode url}}&title={{encode title}}" target="_blank" title="Submit to Reddit">
            <i class="fa fa-reddit-square"></i>
        </a>
    </li>
    <li class="hvr-grow-rotate">
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{encode @blog.url}}{{encode url}}&title={{encode title}}&source={{encode @blog.url}}{{encode url}}" target="_blank" title="Share on LinkedIn">
            <i class="fa fa-linkedin-square"></i>
        </a>
    </li>
</ul>