{{!< default}}

<article class="page-template page-author">
    {{> material-cover}}
    <div class="profile-container animated fade-in">
        {{#author}}
            <div class="profile-image">
                {{#if profile_image}}
                    <img src="{{img_url profile_image}}" alt="{{name}}'s picture" class="avatar rounded" />
                {{else}}
                    <img src="/ghost/img/user-image.png" class="avatar rounded" />
                {{/if}}
            </div>
        {{/author}}
        <div class="post-card animated">
            <div class="post-container">
                {{#author}}
                    <div class="author-header">
                        <h1>
                            {{name}}
                            <a rel="me" target="_blank" href="{{twitter_url}}" class="hvr-grow-rotate" title="{{name}}'s twitter">
                                <i class='fa fa-twitter'></i>
                            </a>
                        </h1>

                        <p>{{#if bio}}{{bio}}{{/if}}</p>
                    </div>
                {{/author}}
                <ol class="author-posts-list">
                {{#foreach posts}}
                    <li>
                        <a href="{{url}}" title="link to {{{title}}}">
                            <h2>{{{title}}}</h2>
                            <p class="description">{{excerpt}}&hellip;</p>
                        </a>
                    </li>
                {{/foreach}}
                </ol>
            </div>
        </div>
    </div>
    {{pagination}}
</article>

