<!DOCTYPE html>
<html>
    <head>
        <!--[if lte IE 9]>
        <script type="text/javascript">
            window.location = "/browser-compatibility";
        </script>
        <![endif]-->
        <title>{{meta_title}}</title>
        {{ghost_head}}
        {{> meta}}

        {{!-- LoadCSS Script --}}
        <script>
        function loadCSS(e,n,t,o){"use strict";var s=window.document.createElement("link"),d=n||window.document.getElementsByTagName("script")[0],i=window.document.styleSheets;return s.rel="stylesheet",s.href=e,s.media="only x",o&&(s.onload=o),d.parentNode.insertBefore(s,d),s.onloadcssdefined=function(e){for(var n,t=0;t<i.length;t++)i[t].href&&i[t].href===s.href&&(n=!0);n?e():setTimeout(function(){s.onloadcssdefined(e)})},s.onloadcssdefined(function(){s.media=t||"all"}),s}loadCSS('{{asset "css/caffeine-theme.css"}}');
        </script>

        {{!-- Fallback method if browser Javascript is disabled --}}
        <noscript>
            <link rel="stylesheet" type="text/css" href="{{asset "css/caffeine-theme.css"}}" />
        </noscript>

        {{> head-css}}
        {{> headscript}}
    </head>
    <body class="{{body_class}}">
        {{> header}}
        {{> aside}}
        <main class="animated">
            <section class="content">
                {{{body}}}
                {{> footer}}
            </section>
        </main>
        {{> tags-overlay}}
        {{ghost_foot}}
        <script src="{{asset "js/caffeine-theme.js"}}" type="text/javascript" charset="utf-8"></script>
        {{> google-analytics}}
        {{> disqus-comment-count}}
    </body>
</html>
