<!DOCTYPE html>
<html>
    <head>
        <title>{{meta_title}}</title>
        {{> meta}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/caffeine-theme.css"}}" />
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <header id="mobile-header" class="nav-header mobile">
            <a id="home-button">
                {{#if @blog.logo}}
                    <i><img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="profile avatar rounded hvr-buzz-out" /></i>
                {{else}}
                    <i class="fa fa-home"></i>
                {{/if}}
              </a>
            <a class="tags-button right">
                <i class="fa fa-search"></i>
            </a>
        </header>
        {{> aside}}
        <main>
            <header id="main-header" class="nav-header">
                <a class="tags-button right">
                    <i class="fa fa-search"></i>
                </a>
            </header>
            <section class="content">
                {{{body}}}
                {{> footer}}
            </section>
        </main>
        {{> tags-overlay}}
        {{ghost_foot}}
        <script src="{{asset "js/caffeine-theme.js"}}" type="text/javascript" charset="utf-8"></script>
        {{> google-analytics}}
        {{> disqus-comment-count}}
    </body>
</html>
